* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/empty-blackboard.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;

  font-family: 'Poppins', sans-serif;
}

.main-quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(251, 237, 31);
}

#quiz-container {
  width: 800px;
  border-radius: 0px 10px;
  overflow: hidden;
}

.quiz-question {
  display: flex;
  width: 100%;
  height: 400px;
}

.quiz-question-content {
  width: 800px;
  flex-shrink: 0;
}

.question-title {
  font-size: 1.7em;
  letter-spacing: 3px;
  font-weight: 500;
  padding: 20px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.048);
}

.question-options {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.question-option {
  color: white;
  padding: 15px;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0.068);
  transition: all 0.3s ease-in-out;
}

.option-tag {
  font-style: italic;
  padding-right: 10px;
}

.selected {
  background-color: rgba(46, 180, 28, 0.609) !important;
}

.question-option:hover {
  background-color: rgba(255, 255, 255, 0.363);
  transform: scale(1.03);
  cursor: pointer;
}

.animate-question-content {
  animation: anim1 0.6s;
}

#quiz-controls {
  margin: 20px;
  display: flex;
  align-items: flex-end;
}

#prev-button, #next-button, #submit-quiz {
  font-size: 1.3em;
  color: rgb(46, 46, 46);
  padding: 15px 20px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  letter-spacing: 2px;
  background-color: rgb(251, 237, 31);
}

.button-disabled {
  background-color: rgba(251, 236, 31, 0.15) !important;
  cursor: default !important;
}

#question-count {
  margin-left: auto;
  font-size: 1.2em;
  color: rgb(251, 237, 31);
  font-weight: 500;
}

@keyframes anim1 {
  0% {
    transform: scale(1.0);
    opacity: 1.0;
  }

  25% {
    transform: scale(0.8);
    opacity: 0.8;
  }

  75% {
    transform: scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}


.statistics-box {
  display: flex;
  padding: 40px 0;
}

.statistics-box:not(:last-child) {
  border-bottom: 3px solid yellow;
  margin-bottom: 20px;
}

.question-info {
  flex-grow: 1;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.question-histogram {
  background-color: rgba(255, 255, 255, 0.048);
  padding: 20px;
  width: 440px;
  display: flex;
  justify-content: flex-end;
}

.question-info ul {
  list-style-type: none;
  margin-top: 40px;
}

#canvas {
  border: 5px solid yellow;
}

.main-stats {
  max-width: 1440px;
  margin: 40px auto;
  padding: 40px;
}
